* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  background: white;
}

.bg {
  background-color: #794EFF;
}

.navbar {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-top: -10px;
}

.navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-align: center;
  position: relative;
  top: 15px;
  left: 100px;
}

.navbar_item {
  height: 80px;
}

.navbar_item:nth-child(1) {
  margin-left: -1010px;
}

.navbar_links {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 40px;
}

.navbar_input {
  padding: 0 1rem;
  margin-right: 10px;
  width: 100%;
  height: auto;
  position: relative;
  top: -20px;
  left: 200px;
}

.navbar_input button {
  width: 100px;
  outline: none;
  border: none;
  padding: 8px;
  padding-bottom: 9px;
  border-radius: 8px;
  color: #fff;
  background: #1E313B;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar_input button:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.input {
  outline: none;
  width: 350px;
  border: none;
  padding: 5px;
}

.search {
  position: absolute;
  top: 10px;
  left: 25px;
}

.navbar_icon {
  margin-left: 34.62px;
}

.ml-5 {
  position: relative;
  left: 400px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #000;
}

.button:hover {
  background: #4837ff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar_links:hover {
  color: #794EFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .navbar_item {
    height: 0px;
  }
  .navbar_item:nth-child(1) {
    margin-left: 0px;
  }
  .navbar_input {
    width: 100%;
    position: relative;
    top: 10px;
    left: 0px;
  }
  button {
    font-size: 00.1rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
  }
  button.active {
    width: 200px;
    height: 50px;
    font-size: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
  }
  .back {
    width: 100%;
    height: 774px;
    position: absolute;
    background: #fff;
  }
  .search {
    position: relative;
    top: -2px;
    font-size: 5rem;
    left: -300px;
  }
  .navbar_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #fff;
    left: 0px;
    font-size: 0.1rem;
    top: 100%;
    height: 65vh;
  }
  .navbar_menu.active {
    margin: 0;
    top: 100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 99;
    height: 65vh;
    font-size: 1.6rem;
  }
  #navbar_logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    height: 100%;
  }
  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #794EFF;
  }
  .navbar_item {
    width: 100%;
  }
  .navbar_links {
    text-align: center;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    -webkit-transform: translate(5%, 20%);
            transform: translate(5%, 20%);
  }
  .navbar_input {
    padding-bottom: 2rem;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.main {
  background: #1E313B;
}

.main__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0px auto;
  height: 817px;
  background: #1E313B;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content h2 {
  font-size: 38px;
  color: #FFFFFF;
}

.main__content h2 span {
  background-color: #794EFF;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#21d4fd), to(#794EFF));
  background-image: linear-gradient(to top, #21d4fd 0%, #794EFF 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.main__content input {
  padding-left: 8px;
  width: 376px;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-right: 15px;
}

.main__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content div p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.main__content div p:nth-child(2) {
  margin-left: 20px;
  font-weight: 400;
  line-height: 18px;
  background-color: #794EFF;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#21d4fd), to(#794EFF));
  background-image: linear-gradient(to top, #21d4fd 0%, #794EFF 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__btn {
  font-size: 1rem;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 16px;
  color: #1E313B;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover a {
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: 100%;
  width: 100%;
}

.logo {
  padding-bottom: 100px;
}

.logo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.logo img {
  width: 100%;
  height: 100%;
}

hr {
  border: solid #585858 1px;
}

@media screen and (max-width: 768px) {
  .s1 {
    padding-top: 120px;
  }
  .s1 .logo p {
    margin-top: 20px;
    line-height: 1px;
  }
  .s1 .logo img {
    width: 100%;
    height: 100%;
  }
  .main__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 180vh;
  }
  .main__content {
    text-align: center;
    margin-bottom: 0;
  }
  .main__content h2 {
    font-size: 2.5rem;
  }
  .main__content .lorem {
    font-size: 20px;
  }
  .main__content input {
    padding-left: 8px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
  }
  .main__content .main__btn {
    display: none;
  }
  .main__content div {
    margin-left: 20px;
  }
  .main__content div p {
    font-size: 17px;
  }
  .main__img--container {
    margin-left: -50px;
  }
}

@media screen and (max-width: 480px) {
  .main__container {
    padding-left: 0;
    padding-right: 0;
    height: 110vh;
  }
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 1.5rem;
  }
  .main__content p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .main__content input {
    width: 90%;
  }
  .main__content .lorem {
    font-size: 12px;
  }
  .main__content div p {
    font-size: 8.5px;
  }
  #main__img {
    height: 90%;
    width: 90%;
  }
  .s1 .logo p {
    margin-top: 20px;
    line-height: 1px;
    font-size: 10px;
  }
}

.s2 {
  background: #fff;
}

.s2 .s2_container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.s2 .s2_container div img {
  width: 100%;
  height: 100%;
}

.s2 .s2_container .right {
  margin-left: 50px;
  margin-top: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.s2 .s2_container .right .f-btn {
  margin-bottom: 20px;
  padding: 0 26px;
  background: rgba(255, 193, 71, 0.6);
  border: 2px solid #FFC147;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.s2 .s2_container .right h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #1E313B;
}

.s2 .s2_container .right h1 span {
  color: #FFC147;
}

.s2 .s2_container .right p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E313B;
}

.s2 .s2_container .right .card1 .header {
  color: #FFC147;
}

.s2 .s2_container .right .card1 .header img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .s2 .s2_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center;
  }
}
/*# sourceMappingURL=style.css.map */